h1 {
  color: green;
}

p {
  font-family: Garamond;
  font-size: 20px;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

img {
  float: right;
}

.sidebar {
  width: 20%;
  float: right;
  background-color: pink;
}

.column {
  width: 40%;
  float: left;
  padding: 4px;
}s
