h1 {
  color: #9999CC;
  align-content:center;
}

h2 {
  color: #9ACDA9;
  float: left;
  padding: 20px;
}

body {
      background-color: #BF9CAC;
  }

p {
  font-family: courier;
  font-size: 15px;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  font-family: serif;
  float: center;
  padding: 15px;
  font-size: 20px;
}
